<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CD01E7D1C902F30003CA11F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD01E991C902F31003CA11F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CD01EA41C902F31003CA11F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
